{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A to-do list application" />
    <title>To-Do List</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script defer src="{% static "js/script.js" %}"></script>
  </head>

  <body class="flex">
    <div class="container">
      {% if user.is_authenticated %}
      <p></p>
      {% else %}
      <div class="userBtns">
        <button class="log_in">Log In</button>
        <button class="sign_up">Sign Up</button>
      </div>
      {% endif %}
      <h1>Your List</h1>

      <input type="text" id="taskInput" placeholder="Add a new task" />
      <button onclick="addTask()">Add Task</button>
      <ul id="taskList">
        {% for task in todoThings %}
        <li>{{ task.name }} <button class="done">√</button></li>
        {% endfor %} 
      </ul>
    </div>

    {% if user.is_authenticated %}
    <p></p>
    {% else %}
    <div class="window log_in-window hide">
      <div class="closeBtn">X</div>
      <form method="POST" action="{% url 'signin' %}" class="flex">
        {% csrf_token %}
        <h3 class="head">Log In</h3>
        <div class="name flex">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div class="last_name flex">
          <label for="password" class="last_name-label">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <button type="submit" class="submit">Submit</button>
      </form>
    </div>

    <div class="window sign_up-window hide">
      <div class="closeBtn">X</div>
      <form method="POST" action="{% url 'signup' %}" class="flex">
        {% csrf_token %}
        <h3 class="head">Sign Up</h3>
        <div class="name flex">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required />
        </div>
        <div class="last_name flex">
            <label for="password" class="last_name-label">Password</label>
            <input type="password" name="password" id="password" required />
        </div>
        <button type="submit" class="submit">Submit</button>
    </form>
    
    </div>
    {% endif %}
    <ul>
    </ul>
  </body>
</html>
